<html>
    <head>
        <title>Movie Ratings</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        {% if user_id %}
            <a style="float:right; margin:15px;" href="/logout">Logout</a>
        {% else %}
            <a style="float:right; margin:15px;" href="/login">Login</a>
            <a style="float:right; margin:15px;" href="/signup">Sign Up</a>
        {% endif %}
        <div class="container">
            <div id="flashed_messages">
                <ul>
                    {% for message in get_flashed_messages() %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
